.header {
    font-family: 'Montserrat';
    font-size: 3.5vh;
    height: 5vh;
    background-color: #035;
    color: whitesmoke;
    padding: 2vh 0 0 2vh;
}

.body {
    font-size: 2vh;
    height: 89vh;
    width: 98vw;
    background-color: #ddd;
    padding: 2vh;
}

.book {
    width: 40vh;
    height: 12vh;
    overflow: auto;
    background-color: #bbf;
    margin: 2vh 0;
    padding: 1vh;
    border-radius: 5px;
    line-height: 3vh;
}

.book-title {
    font-size: 2.5vh;
    color: #222;
    font-weight: bold;
}

.new-button {
    width: 8vh;
    height: 6vh;
    background-color: #035;
    border-radius: 5px;
    text-align: center;
    font-size: 6vh;
    color: whitesmoke;
}

.new-form {
    display: inline-block;
    width: 30vh;
    height: 21vh;
    padding: 2vh;
    background-color: #bbf;
    border-radius: 5px;
    line-height: 5vh;
    color: #222;
}

.field {
    display: inline-block;
    border: solid 1px #222;
    border-radius: 3px;
    width: 20vh;
    height: 3vh;
    background-color: whitesmoke;
    color: #222;
    font-size: 1.75vh;
}

label {
    text-transform: capitalize;
}

.submit {
    display: inline-block;
    height: 5vh;
    width: 5vh;
    margin-top: 1vh;
    border-radius: 5px;
    font-size: 5vh;
    text-align: center;
    background-color: #035;
    color: whitesmoke;
}

.warning {
    display: inline-block;
    height: 2vh;
    padding: 1vh;
    margin-left: 1vh;
    line-height: 2vh;
    background-color: lightpink;
    border: solid 2px red;
    border-radius: 5px;
    vertical-align: text-bottom;
}

@media(hover: hover) and (pointer: fine){
    .new-button:hover, .submit:hover, .submit-error:hover {
        background-color: whitesmoke;
        color: #035;
        cursor: default;
        transition: 0.1s;
    }

    .new-button:active, .submit:active, .submit-error:active {
        transform: scale(0.9);
        cursor: default;
    }
}